body{
  background-color: #4E7686;
}
ul{
      list-style: none;
      list-style-type: none;
      list-style-position: outside;
}
 
li{
      line-height: 30px;
      font-size: 16px;
      cursor:pointer;
}
 
#menu{
      width:250px;
      position:absolute;      
      border:1px solid black;
      z-index: 100;  
      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px#888;
      box-shadow: 0 0 5px #888;
}
#menu:hover{
  background-color: #524E4E;
}
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

#dialog {
  background-color:#5C7A85;
  border:3px solid #999999;
  display:none;
  margin-top: 15px;
  position:absolute;
  width:394px;
  z-index:50;
  color:white;
  padding: 25px 25px 20px;
  text-align: center;
  border-color: #D4D4D4;
  border-radius: 5px;
  position: absolute;
            top:50%;
            left:50%;
            width:400px;
            margin-left:-200px;
}
#dialog2 {
  background-color:#5C7A85;
  border:3px solid #999999;
  display:none;
  margin-top: 15px;
  position:absolute;
  width:394px;
  z-index:50;
  color:white;
  padding: 25px 25px 20px;
  text-align: center;
  border-color: #D4D4D4;
  border-radius: 5px;
  position: absolute;
            top:50%;
            left:50%;
            width:400px;
            margin-left:-200px;
}
#dialog3 {
  background-color:#5C7A85;
  border:3px solid #999999;
  display:none;
  margin-top: 15px;
  position:absolute;
  width:394px;
  z-index:50;
  color:white;
  padding: 25px 25px 20px;
  text-align: center;
  border-color: #D4D4D4;
  border-radius: 5px;
  position: absolute;
            top:50%;
            left:50%;
            width:400px;
            margin-left:-200px;
}
#dialog4 {
  background-color:#5C7A85;
  border:3px solid #999999;
  display:none;
  margin-top: 15px;
  position:absolute;
  width:394px;
  z-index:50;
  color:white;
  padding: 25px 25px 20px;
  text-align: center;
  border-color: #D4D4D4;
  border-radius: 5px;
  position: absolute;
            top:50%;
            left:50%;
            width:400px;
            margin-left:-200px;
}
label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}
#nombre{
   border-radius: 1px;
   border-style: double; 
   border-color: #D4D4D4; 
   font-size: 15px; 
}
#nombre2{
   border-radius: 1px;
   border-style: double; 
   border-color: #D4D4D4; 
   font-size: 15px; 
}
#nombre3{
   border-radius: 1px;
   border-style: double; 
   border-color: #D4D4D4; 
   font-size: 15px;  
}
#nombre4{
   border-radius: 1px;
   border-style: double; 
   border-color: #D4D4D4;
   font-size: 15px;   
}
#save{
      height: 30px;
      width: 85px;
      border-radius: 2px;
      font-size: 15px;
      color: white;
      background-color: #05A618;
      border-color: #05A618;
      border-style: none;
}
#cancel{
  height: 30px;
      width: 85px;
      border-radius: 2px;
      font-size: 15px;
       border-style: none;
}
#cancel2{
  height: 30px;
      width: 85px;
      border-radius: 2px;
      font-size: 15px;
       border-style: none;
}
#cancel3{
  height: 30px;
      width: 85px;
      border-radius: 2px;
      font-size: 15px;
       border-style: none;
}
#cancel4{
  height: 30px;
      width: 85px;
      border-radius: 2px;
      font-size: 15px;
       border-style: none;
}

.proyectos{
      display: block;
      position: absolute;
      height: 220px;
      width: 168px ;
      border-radius: 3px;
      border-style: groove;
      border-color: #1F1E1E;
      background-color: #646161;
      cursor: move;
      top: 120px;      
}
.proyectos2{
      background: #FECA40;
}
#proyectos .ui-selecting {}
#proyectos .ui-selected {}
#proyectos > div {position: absolute;}
#ui-selectable-helper {position: absolute; z-index: 100; border:1px dotted black;}

.personas{
      display: none;
      height: 80px;
      width: 50px;
      border-radius: 2px;
      border-style: groove;
      border-color: #3B4C5B;
      background-color: #646161;
}
.personas2{
      height: 80px;
      width: 50px;
      border-radius: 2px;
      border-style: groove;
      border-color: #3B4C5B;
      background-color: #646161;
}
.prin{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 600px;
      background-color: #878688;
}
#titulos{
      display: block;
      height: 20px;
      width: 50px;
      border-radius: 2px;
      border-color: #928B8B;
      background-color: #928B8B;
      text-align: center;
      font-size: 12px;
      color: aqua;
}
#titulospro{
      display: block;
      height: 30px;
      width: 168px;
      border-radius: 2px;
      border-color: #928B8B;
      text-align: center;
      font-size: 20px;
      color: aqua;
}
#labelmsj{
      color: red;
      font-size: 20px;
}
#labelmsj2 {
      color: red;
      font-size: 20px;
}
#labelmsj3{
      color: red;
      font-size: 20px;
}
#labelmsj4 {
      color: red;
      font-size: 20px;
}
#persona:hover{
background-color: #524E4E;
color: white;
font-size: 22px;
}
#proyecto:hover{
background-color: #524E4E;
color: white;
font-size: 22px;
}
.cerrar{
  width: 50px;
  height: 15px;
   display: flex;
      justify-content: space-around;
}
.close{
  border-style: none;
  width: 15px;
  height: 15px;
}
.edit{
  border-style: none;
}
.cerrarpro{
  width: 168px;
  height: 20px;
   display: flex;
      justify-content: space-around;
}
.closepro{
  border-style: none;
}
.editpro{
  border-style: none;
}
.edit2{
  border-style: none;
  width: 15px;
  height: 15px;
}
.close:hover{
  background-color: red;
  color: white;
  border-style: none;
}
.edit:hover{
  background-color: #05A618;
  color: white;
  border-style: none;
}
.closepro:hover{
  background-color: red;
  color: white;
  border-style: none;
}
.editpro:hover{
  background-color: #05A618;
  color: white;
  border-style: none;
}
.edit2:hover{
  background-color: #05A618;
  color: white;
  border-style: none;
}
.listaPersonas{
    display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 50px;
      margin-bottom: 20px;
}
#mostrar{
  height: 40px;
      width: 85px;
      border-radius: 2px;
      font-size: 15px;
      color: white;
      background-color: #05A618;
      border-color: #05A618;
      border-style: none;
}
#mostrar:hover{
  font-size: 18px;
  height: 43px;
  width: 88px;
}
.butonMostrar{
  text-align: center
}
#msj{
  display: none;
      color: red;
      font-size: 20px;
}
.acomoda{
  height: 170px;
  width: 168px;
  display: flex;
flex-wrap: wrap;
}
